# Core latex/lualatex auxiliary files and intermediate documents
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bak
*.run.xml
*blx.bib
*.synctex.gz
*.pdf

# Include pdfs in the figures folder
!figures/*.pdf

*.bcf
.olauth

# Auto commit bash file
.gitcommit.sh